.jambotron{
   background-color: skyblue;
   text-align: center;
   
}


.heading{
    text-align: center;
    color: orange;
}
.firstbutton{
    background-color: yellow;
    border-radius: 0.5rem;
    text-align: center;
}
.secondbutton{
    background-color: red;
    border-radius: 0.5rem;
    text-align: right;
}
P{
    text-align: center;
    font-style: italic;

}

